# Yelp Data Analysis in Spark 1

### The analysis have been performed on used business.json

There are total of 5 objectives in this work.

1. Learning to work with JSON hierarical data in SparkSQL
2. Performing grouping aggregation using on data using SparkSQL
3. Pivoting the data, this might not be the best use case for pivoting but in genreally there are a lot of use cases which require pivoting of data
4. Filtering out data based on attribute values
5. Performing Geospacial analysis

A continuation of this of this notebook will be YelpAnalysisSpark2.ipynb which joins two datasets.

In [1]:
import findspark
findspark.init()
from pyspark import SparkContext as sc
import pandas as pd
import os
import numpy as np
from pyspark.sql import SQLContext
import json
import pyspark

data_path = ['../Data']
Business_filepath = os.sep.join(data_path + ['business.json'])

sc = sc(appName="Yelp")
sqlContext = SQLContext(sc)


#Load Business data
Business_data = sqlContext.read.json(Business_filepath)

In [2]:
Business_data.show()

+--------------------+--------------------+--------------------+--------------------+----------------+--------------------+-------+-------------+--------------+--------------------+-----------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|            city|               hours|is_open|     latitude|     longitude|                name|     neighborhood|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+----------------+--------------------+-------+-------------+--------------+--------------------+-----------------+-----------+------------+-----+-----+
|     691 Richmond Rd|[null,null,null,n...|YDf95gJZaq05wvo7h...|[Shopping, Shoppi...|Richmond Heights|[10:00-21:00,10:0...|      1|   41.5417162|   -81.4931165|Richmond Town Square|                 |      44143|          17|  2.0|   OH|
|      2824 Milton Rd|[null,null,null,[...|mLwM-h2YhXl2NCgdS...|[Food, Soul Food,...|       Charlotte|[10:00-22:00,10:0...|      0|     35.23687|   -80.7419759|South Florida Sty...|         Eastland|      28215|           4|  4.5|   NC|
| 337 Danforth Avenue|[null,null,null,n...|v2WhjAB3PIBA8J8Vx...|[Food, Coffee & Tea]|         Toronto|[10:00-19:00,10:0...|      0|   43.6771258|   -79.3532848|    The Tea Emporium|        Riverdale|    M4K 1N7|           7|  4.5|   ON|
|7702 E Doubletree...|[null,null,null,n...|CVtCbSB1zUcUWg-9T...|[Professional Ser...|      Scottsdale|[9:00-17:00,9:00-...|      1|   33.5650816|  -111.9164003|            TRUmatch|                 |      85258|           3|  3.0|   AZ|
|      4719 N 20Th St|[null,null,none,[...|duHFBe87uNSXImQmv...|[Sandwiches, Rest...|         Phoenix|[null,null,null,n...|      0|   33.5059283|  -112.0388474|             Blimpie|                 |      85016|          10|  4.5|   AZ|
| 2017 E Camelback Rd|[null,null,null,n...|uUEMrhJiL1a1pCA_I...|[Shopping, Tobacc...|         Phoenix|[10:00-21:00,10:0...|      0|   33.5080678|  -112.0375524|     Baxter's Cigars|                 |      85016|          35|  5.0|   AZ|
|4425 N 24th St, S...|[true,null,null,n...|2eJEUJIP54tex7T9Y...|[Chiropractors, H...|         Phoenix|[9:00-12:00,14:30...|      1|   33.5028476|   -112.012696|Back-Health Chiro...|                 |      85016|          19|  5.0|   AZ|
|      5770 Butler St|[null,null,null,n...|fEylCY3UEH8YJ0Xa7...|[Automotive, Oil ...|      Pittsburgh|[8:00-17:00,8:00-...|      1|   40.4859391|   -79.9437273|       Auto Bathouse|    Lawrenceville|      15201|          16|  2.5|   PA|
|  3220 Washington Rd|[null,null,null,n...|kFtuYklkAIlmYw8RZ...|[Jewelry Repair, ...|        McMurray|[10:00-18:00,10:0...|      1|   40.2904976|   -80.1100212| JAB Jewelry Designs|                 |      15317|           7|  5.0|   PA|
|1425 S Higley Rd,...|[true,null,null,n...|NqiQdFa93wzUJGo29...|[Health & Medical...|         Gilbert|[7:30-11:00,7:30-...|      1|   33.3245392|  -111.7204486|Neighborhood Visi...|                 |      85296|           8|  5.0|   AZ|
|11022 W Charlesto...|[null,null,null,n...|N9BN9ldVl1FNzcB9_...|[Bowling, Active ...|       Las Vegas|[null,null,null,n...|      1|   36.1590984|  -115.3379148|Red Rock Bowling ...|        Summerlin|      89135|          13|  4.5|   NV|
|9393 N 90th St, S...|[null,null,null,n...|6s3z3TlpHOIecuSyP...|[Barbers, Men's H...|      Scottsdale|[9:00-19:00,10:00...|      0|33.5704213907|-111.886491962|             Sq Cutz|                 |      85258|           7|  4.5|   AZ|
|  9101 E Baseline Rd|[null,null,null,n...|n33Izvzk_z9_51H6N...|[Flowers & Gifts,...|            Mesa|[5:00-0:00,5:00-0...|      1|33.3774281068|-111.638108311|             Safeway|                 |      85209|          21|  2.0|   AZ|
|     12417 W Pima St|[null,null,null,n...|m06OZRFTaKKi6U0om...|[Landscape Archit...|        Avondale|[8:00-17:00,8:00-...|      1|    33.431335|   -112.325863|Artificial Grass ...|                 |      85323|          41|  4.5|   AZ|
|9616 E Independen...|[null,null,full_b...|SDMRxmcKPNt1AHPBK...|[Burgers, Bars, R...|        Matthews|[11:00-1:00,11:00...|      1|    35.135196|   -80.7146829|          Applebee's|                 |      28105|          21|  2.0|   NC|
|     190 E Dallas Rd|[null,null,none,n...|iFEiMJoEqyB9O8OUN...|[Chinese, Restaur...|         Stanley|[11:30-22:30,11:3...|      1|   35.3550853|   -81.0872676|        China Garden|                 |      28164|           3|  3.0|   NC|
|            62 S Ctr|[null,null,null,n...|qrAHt4wWRYWj1sEjx...|[Contractors, Roo...|            Mesa|[7:00-19:00,7:00-...|      1|   33.4132187|  -111.8314886|Beach Ventures Ro...|                 |      85210|           3|  3.5|   AZ|
|2128 Warrensville...|[null,null,null,n...|jqp5TibmgJZVFKHTp...|[Car Wash, Automo...|       Cleveland|[8:30-18:00,8:30-...|      1|   41.5018198|    -81.536776|Alpaul Automobile...|                 |      44121|          25|  3.0|   OH|
|      3710 Payne Ave|[null,null,null,n...|1cLXGXThDYZ5WK_Kp...|[Food, Bakeries, ...|       Cleveland|[9:00-20:00,9:00-...|      1|   41.5094078|   -81.6621618|         Koko Bakery|Goodrich Kirtland|      44114|         162|  4.0|   OH|
|  2385 E Windmill Ln|[null,null,null,n...|BmSJ6C7Y9s3tHotRe...|[Financial Servic...|       Las Vegas|[10:00-19:00,10:0...|      1|   36.0404133|   -115.119104|           U.S. Bank|        Southeast|      89123|           3|  3.5|   NV|
+--------------------+--------------------+--------------------+--------------------+----------------+--------------------+-------+-------------+--------------+--------------------+-----------------+-----------+------------+-----+-----+
only showing top 20 rows

## Finding Average review count and stars by city and category

In [3]:
#Filter out the attributes that you need
Business = Business_data.select(pyspark.sql.functions.explode(Business_data.categories).alias("category"), 
                               Business_data.state,  Business_data.city, Business_data.stars, Business_data.review_count)
#Register as temp table
Business.registerTempTable("Business_Agg")

#Run the SQL Query
result = sqlContext.sql("SELECT Business_Agg.city, Business_Agg.category,\
AVG(Business_Agg.review_count) As AverageReview,\
AVG(Business_Agg.stars) as AverageStars FROM Business_Agg GROUP BY Business_Agg.city, Business_Agg.category")

#saving the result in a csv file
result.coalesce(1).write.format('com.databricks.spark.csv').option("header", "true").save('Question1')
#Check the result
result.show()

+----------------+--------------------+------------------+------------------+
|            city|            category|     AverageReview|      AverageStars|
+----------------+--------------------+------------------+------------------+
|Richmond Heights|            Shopping|              10.5|               3.5|
|         Madison|    Laundry Services| 6.851851851851852| 2.962962962962963|
|          Elyria|             Doctors|               3.0|               2.5|
|            Mesa|  Auto Customization|12.857142857142858|              4.25|
|         Phoenix|                Pets| 21.04076086956522| 4.073369565217392|
|         Toronto|  Financial Services|          6.296875|           2.96875|
|           Tempe|     Hotels & Travel| 29.19298245614035| 3.258771929824561|
|        Surprise|            Shopping|12.532374100719425|3.5719424460431655|
|       Henderson|               Pizza|  96.3804347826087|3.3532608695652173|
|       Etobicoke|      Sporting Goods| 6.583333333333333|             3.625|
|         Phoenix|             Noodles|            162.75|           3.71875|
|         Markham|                Gyms|              9.75|           3.40625|
|        Matthews|              Bagels|              55.0|               3.5|
|        Westlake|Pet Boarding/Pet ...|              11.5|               4.0|
|           Solon|            Bakeries|              19.5|               3.5|
|      Pittsburgh|   General Dentistry| 6.045454545454546|3.7954545454545454|
|       Las Vegas|              Diners|170.54807692307693|3.3509615384615383|
|            Mesa|Criminal Defense Law|            5.3125|           4.03125|
|            Mesa|Lighting Fixtures...| 19.76923076923077| 4.538461538461538|
|       El Mirage|         Auto Repair| 6.222222222222222| 3.888888888888889|
+----------------+--------------------+------------------+------------------+
only showing top 20 rows

## Pivoting the table

In [4]:
BusinessPivot = Business_data.select(pyspark.sql.functions.explode(Business_data.categories).alias("category"),\
                                     Business_data.state,  Business_data.city, Business_data.stars, \
                                     Business_data.review_count)

BusinessPivot.registerTempTable("AggreCate")

pivot_table = BusinessPivot.groupBy("city", "State").pivot("category").avg("stars")
#pivot_table.coalesce(1).write.format('com.databricks.spark.csv').option("header", "true").save('Question2')

## Filter out data based on attribute values

In [5]:
#Flatten the category array
CategoryExplo = Business_data.select(pyspark.sql.functions.explode(Business_data.categories).alias("category"),\
                                    Business_data.attributes, Business_data.stars)

#Filter out Mexican and TakeOut
CategoryAtt = CategoryExplo.select(CategoryExplo.attributes.RestaurantsTakeOut.alias("takeout"),\
                                   CategoryExplo.category, CategoryExplo.stars)

CategoryAtt.registerTempTable("CategoryAtt")

#Run the query on the table
MexicanTakeout = "SELECT category, AVG(stars) AS Stars FROM CategoryAtt WHERE category = 'Mexican' \
AND takeout = True GROUP BY category"
RatingMexicanTakeO = sqlContext.sql(MexicanTakeout)

RatingMexicanTakeO.show()

+--------+-----------------+
|category|            Stars|
+--------+-----------------+
| Mexican|3.436754507628294|
+--------+-----------------+

In [6]:
RatingMexicanTakeO.coalesce(1).write.format('com.databricks.spark.csv').option("header", "true").save('Question3')

## Geospacial Analysis
### FIltering businesses near toronto specifically within 15 km of Toronto center

In [7]:
#lattitude, longitude, exploded(category)
LatLong = Business_data.select(pyspark.sql.functions.explode(Business_data.categories).alias("category"), 
                              Business_data.latitude, Business_data.longitude, Business_data.stars,
                              Business_data.review_count)

#Register Temp Table
LatLong.registerTempTable("LatLong")

#Then run a SQL query to filter out the ones only the ones within 15km distance from Toronto Center
BusinessNearTorontofilt = sqlContext.sql("SELECT * FROM  LatLong WHERE \
acos(sin(0.763782941288) * sin(LatLong.latitude * 3.14159 /180) + \
cos(0.763782941288) * cos(LatLong.latitude * 3.14159 /180) * cos((LatLong.longitude * 3.14159 /180) \
- (-1.38598479111))) * 6371 <= 15")

#Then apply the aggregate function on BusinessNearTorontofilt.
BusinessNearTorontofilt.registerTempTable("BusinessNearToronto")
AggQuery = sqlContext.sql("SELECT category,AVG(BusinessNearToronto.stars) AS stars_avg,\
AVG(BusinessNearToronto.review_count) AS Review_count_avg FROM BusinessNearToronto GROUP BY category ORDER BY CATEGORY")

AggQuery.show()

+--------------------+------------------+------------------+
|            category|         stars_avg|  Review_count_avg|
+--------------------+------------------+------------------+
|         3D Printing|              3.25|               6.0|
|          Acai Bowls|               4.5|               9.0|
|         Accessories| 3.508130081300813| 7.800813008130081|
|         Accountants|             3.875| 8.333333333333334|
|      Acne Treatment|             2.875|              10.0|
|         Active Life| 3.795514511873351|12.275725593667547|
|         Acupuncture|  4.30827067669173| 8.774436090225564|
|               Adult|3.8181818181818183| 8.363636363636363|
|     Adult Education|2.6666666666666665| 4.166666666666667|
| Adult Entertainment|2.7954545454545454|10.454545454545455|
|         Advertising|               3.0| 4.666666666666667|
|              Afghan|3.6964285714285716|23.321428571428573|
|             African|3.8461538461538463|26.333333333333332|
|            Airlines|              2.75|             175.0|
|     Airport Lounges|               4.0|              43.0|
|    Airport Shuttles|2.2222222222222223| 6.444444444444445|
|            Airports|              2.75|              81.0|
|             Airsoft|               5.0|               4.0|
|Amateur Sports Teams| 4.055555555555555| 9.833333333333334|
|      American (New)|3.3846153846153846| 84.07692307692308|
+--------------------+------------------+------------------+
only showing top 20 rows

In [8]:
AggQuery.count()

791

In [10]:
AggQuery.coalesce(1).write.format('com.databricks.spark.csv').option("header", "true").save('Question4')